# RStudio junk
.Rproj.user/
.Rhistory
.RData
.RDataTmp
.Ruserdata
.DS_Store
# Ignore RStudio + system files
.Rproj.user/
.Rhistory
.RData
.RDataTmp
.Ruserdata
.DS_Store
Misc/otu_table_export.csv
CSV: Other/otu_table_export.csv
